		body{
			margin:0px;
		}
		section.firsttop{
			height: 59px;
			    background-color: #e6dcca;
		}
		div#left_side{
			width: 400px;
			float: left;
			display: inline-flex;
		}
		div#span_left_one{
			padding: 10px;
			width: 50%;
			display: inline-flex;
			 background-color: #d8baba;

		}
		div#span_left_one small{
			font-weight: bold;

		}
		div#span_left_one small{
			font-size: 24px;
			margin-left: 19px;
		}
		div#span_left_two{
			padding: 10px;
			float: right;
			width: 50%;
			display: inline-flex;
			padding-top: 14px;
		}
		hr{
			width: 50px;
			border-color: #ab9999;
			margin-left: 15px;
		}
		input#search{
		    height: 30px;
		    text-indent: 5px;
		    border: 1px solid #bda5a5;
		    border-radius: 17px;			
		}
		div#right_side{
			width: 400px;
			float: right;
			display: inline-flex;
		}
		div#links{
			width: 50%;

		}
		div#subscribe{
	    width: 50%;
	    margin-top: 5px;
	    border: 1px solid #b38e8e;
	    margin-right: 13px;
	    text-align: center;
		}
		div#subscribe a{
		    text-decoration: none;
		    display: block;
		    cursor: pointer;
		    padding: 12px;			
		}
		div#links img{
			width: 35px;
		}
		div#links a{
			width: 30%;
			text-decoration: none;
			padding-top: 5px;
			display: inline-block;	
            border: 1px solid #b38e8e;
            text-align: center;
            margin-top: 5px;
            margin-right: -5px;
		}
		a:hover{
			background-color: #d2a1a1;
		}
		/*top most part done*/

		/*second top*/
	    div.content_one{
			width: 80%;
            margin: 0px auto;
		}
		div#heading h1{
		    text-align: center;
		    font-size: 35px;
		    padding: 0px;
		    margin: 10px;
		    font-family: cursive;
		    margin-bottom: 0px;			
		}
		div#date_top_stories{
			width: 100%;
			text-align: center;
		}
		div#date_top_stories small{
			font-weight: bold;
		}
		hr#date_top_stories{
			width: 100%;
		}
		div#heading_titles{
		    width: 100%;
		    padding: 3px;
		    border: 2px solid #000;
		    text-align: center;
		    margin: 0px auto;
            margin-left: 10px;
		}
		div#heading_titles div{
			    display: inline-block;
			    width: 11%;
			    cursor: pointer;
			    padding: 5px;
		}
		div#heading_titles div:hover{
			    background-color: #c4d6c473;
		}
/*end*/
		section.middle_content{
		    padding-top: 2px;
		    width: 96%;
		    padding-left: 25px;
		    padding-right: 15px;
		    display: inline-flex;
		}
		div#top_stories_part h2{
			margin-top: 0px;
		}
		div#top_stories_part{
			width: 25%;
		}
		div#center_part{
			width: 50%;
		}
		div#trends_videos{
			width: 25%;
		}
		div#storyone img{
			width: 190px;
			margin: 0px auto;
			height: 121px;			
		}
		div#storyone p{
			margin-top: -5px;
		}
		div#storyone p#strong{
			margin-bottom: 0px;
			margin-top: 0px;
		}
		div#center_part{
			background-color: #ede;
		}
		div#center_part hr{
			width: 95%;
		}
		div#first_half img{
			max-width: 100%;

		}
		div#first_half p{
			text-align: center
		}
		div#story_two{
			display: inline-flex;
		}
		div#paragragh{
		    width: 90%;
		    padding: 16px;
		    padding-right: 0px;						
		}
		div#paragraph p{
			padding-left: 15px;
			padding-top: 10px;
		}
		div#img{
			width: 30%;
		    padding: 18px;
		    padding-left: 0px
		}
		div#img img{
			width: 100px;
		}
		div#trends_videos{
			width: 25%;
			padding-left: 7px;
		}	



		div#trends_videos h2{
			text-align: center;
		}
		div#trends_videos h4{
			margin-left: 20px;
		}
		div#trending_people{
			    width: 84%;
		    padding: 0px;
		    margin: 15px;
		    border: 3px solid #000;
		    padding-left: 27px;
		}
		div#video img{
			width: 100%;
		}
		div#video p{
			margin-top: -5px;
		}

	 hr#divide{
	    width: 93%;
	    margin: auto;
	}
	section.gallery{
		padding-left: 20px;
	}
	div#gallery{
		display: inline-flex;
	}
	section.gallery h2{
		margin-left: 20px;
	}
	div#sub_one{
		width: 30%;
		margin: 10px auto;
	}
	div#sub_one img{
		width: 100%;
		height: 100%;
	}
	div#controls{
		width: 150px;
		margin:0px auto;
	}
	div#controls div#buttons{
		width: 30%;
		float: left;
		margin:2px;
	}
	div#buttons img{
		width: 100%;
	}
	div#buttons img:hover{
		 cursor: pointer;
	}

		section.daily_news{
		padding: 20px;
	}
	div#holder{
	}
	div#quarter_one{
    width: 20%;
    float: left;
    margin-right: 24px;
    margin-left: 29px;
    
	}
	div#quarter_one div{
    border: 2px solid #000;
    margin: 0px;
    padding-left: 16px;	
    height: 229px;	
	}
	li{
		list-style: none;
	}
	section#footer{
		display: inline-block;
		text-align: center;
		width: 100%;
	}